
starter_kit/target/
starter_kit/output/
starter_kit/output.h5ad

.nextflow*
results/
work/
.DS_Store
*.pyc
starter_kit/submission.zip

examples/chris_conv_atac_to_ct/preprocessed.h5ad
examples/chris_graph_atac_to_ct/data
examples/chris_graph_atac_to_ct/model
examples/chris_graph_atac_to_ct/cluster