// Crick specific computing max resource levels
params {
  max_memory = 224.GB
  max_cpus = 32
  max_gpus = 4
  max_time = 72.h
}

singularity {
  enabled = true
  autoMounts = true
}

// Load some standard modules before running script
process {
  executor = 'slurm'

  withName: TRAIN_MODEL {
    // Cluster options
    cpus = { check_max( 16, 'cpus' ) }
    memory = { check_max( 64.GB * task.attempt, 'memory' ) }
    time = 72.h

    // Check if GPU enabled
    if(!params.use_gpu) {
      queue = 'cpu'
    }
    else {
      queue = 'gpu'
      clusterOptions = "--gres=gpu:" + check_max( params.num_gpus, 'gpus' )
      singularity.runOptions = '--nv'
    }
  }

  withName: TRAIN_ATAC_GRAPH {
    // Cluster options
    cpus = { check_max( 32, 'cpus' ) }
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
    time = 24.h

    // Check if GPU enabled
    if(!params.use_gpu) {
      queue = 'cpu'
    }
    else {
      queue = 'gpu'
      clusterOptions = "--gres=gpu:" + check_max( params.num_gpus, 'gpus' )
      singularity.runOptions = '--nv'
    }
  }
}